<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h3 this is mainMenuReviews
        ul
        each result in mainMenuReviews
            li=result
        h3 this is sideMenuReviews
        ul
        each result in sideMenuReviews
            li=result
        h3 this is servicesReviews
        ul
        each result in servicesReviews
            li=result
        h3 this is cleanlinessRevies
        ul
        each result in cleanlinessReviews
            li=result
        h3 this is suggestionsReviews
        ul
        each result in suggestionsReviews
            li=result

